# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
build
dist

*.d.ts
*.config.js
*.config.ts
*.sh
*.md
*.woff
*.ttf

.eslintrc.js
.vscode

/public
/bin